# Created by venv; see https://docs.python.org/3/library/venv.html
include
lib
__pycache__
pyvenv.cfg
.env
todo.txt
output
Gerador_Termos_Final
build
cache
logs/
*.log
.ruff_cache
*.sqlite
*.exe
docx-template
.pytest_cache
.venv
.mypy_cache
dist
.coverage
*.egg-info
.vscode/
venv