# Created by venv; see https://docs.python.org/3/library/venv.html
include
Scripts
lib
__pycache__
pyvenv.cfg
.env
todo.txt
output
Gerador_Termos_Final
build
cache
logs
.ruff_cache
assets_cache.sqlite